body {
    background-color: greenyellow; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(201, 116, 116)
    padding
}
.card {
    background-color: aqua;
    border: 1px solid #c4c4c4; 
    border-radius: 8px;
    box-shadow: 5px 4px 10px #333;

}
.title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.30;
}
